body
	margin: 0
	overflow-y: hidden

html, body, #app, svg
	height: 100%

svg
	width: 100%

#stereotype-box
	$offset = 1.75rem
	position: absolute
	bottom: $offset
	left: $offset
	background-color: #e4e4e4
	padding: 2rem

.status
	color: #303030
	font-size: 0.9rem
