<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Stereotype Map</title>
		<link rel="icon" href="favicon.svg"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="gh-fork-ribbon.css"/>
		<link rel="stylesheet" href="style.css"/>
		<link rel="stylesheet" href="map.css"/>
	</head>
	<body>
		<a class="github-fork-ribbon right-top" href="https://github.com/getkey/stereotype-map" title="Fork me on GitHub">Fork me on GitHub</a>
		<div id="app" v-on:mouseover="overLand" v-on:mouseout="outLand">

			<%- include('worldLow.svg') %>

			<div id="stereotype-box" v-if="currentCountry !== null" v-on:mouseleave="hideStBox" v-on:touchStart="touchStartStBox" v-on:touchend="touchEndStBox">
				<p>People from {{ currentCountry }} are:</p>
				<p v-if="!fetched || stereotypes.length === 0" class="status"> {{ !fetched ? 'Please wait...' : 'No stereotype found for this country!' }} </p>
				<ul v-else>
					<li v-for="stereotype in stereotypes">{{ stereotype }}</li>
				</ul>
			</div>
		</div>
		<div id="info" v-on:mouseleave="showExp = false">
			<div id="info-button" v-if="!showExp" v-on:mouseenter="showExp = true" title="Information">i</div>
			<div id="explanation" v-else v-on:touchend="closeIfNotLink">
				<p>This website searches the Internet for stereotypes.<br/>
				It reflects what people as a whole think of foreigners.</p>
				<p>Want to <a href="https://github.com/getkey/stereotype-map"> learn more on how it works</a>?<p>
			</div>
		</div>
		<% if (dev) { %>
			<script src="vue.js"></script>
		<% } else { %>
			<script src="vue.min.js"></script>
		<% } %>
		<script src="script.js"></script>
	</body>
</html>
