<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Stereotype Map</title>
		<link rel="stylesheet" href="style.css"/>
		<link rel="stylesheet" href="map.css"/>
	</head>
	<body>
		<div id="app" v-on:click="displayCountryCode">
			<%- include('worldLow.svg') %>
		</div>

		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="script.js"></script>
	</body>
</html>
